<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopify</title>
</head>

<style>
      h1{
         font-size: 20px;
      }
      p{
         font-size: 18px;
      }
      span{
          background-color: black;
          color: white;
          font-size: 25px;
          font-weight: bold;
          padding: 20px;
      }
</style>
<body>
    <h1>Yo! {{name}} 😃!</h1>
    <p>You are now a shopifier, use the code below to verify your email</p><br>

    <span>{{code}}</span>
</body>
</html>